{% extends "/parts/main.html" %}
{% block content %}

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Extrato e Relatório Financeiro</h1>
							<p>Esse sistema permite o upload de transações financeiras em formato CSV e XML,<br />
							além de produzir um relatório de risco sobre as movimentações.</p>
							<p>Para melhor uso desse sistema, leia as instruções no <a href="">github</a>.</p>
						</div>
					</section>

{% endblock %}