{% extends "/parts/main.html" %}
{% block content %}

				<!-- Alerts -->
				{% with messages = get_flashed_messages() %}
					{% if messages %} 
						<ul id="messages" class="list-unstyled">
							{% for message in messages %}
								<li class="alert alert-success">{{ message }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endwith %}

				<!-- Login -->
					<section id="login" class="wrapper style2 fade-up">
						<div class="inner">
							<h2>Login de Usuários</h2>
							<div class="split style1">
								<section>
									<form method="post" action="{{ url_for('bp_users.auth') }}">
										<input type="hidden" name="from_page" value="{{ from_page }}" />
										<div class="fields">
											<div class="field whole">
												<label for="name">Usuário</label>
												<input type="text" name="username" id="username" />
											</div>
											<div class="field whole">
												<label for="name">Senha</label>
												<input type="password" name="password" id="password" />
											</div>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Login</a></li>
										</ul>
									</form>
								</section>
							</div>
						</div>
					</section>

{% endblock %}